name: 'Check spelling'
on: # rebuild any PRs and main branch changes
  pull_request:
    branches-ignore:
      - "dependabot/**"

permissions:
  contents: read

jobs:
  spellcheck: # run the action
    permissions:
      contents: read # for streetsidesoftware/cspell-action to fetch files for commit
      pull-requests: read # for streetsidesoftware/cspell-action to fetch commits for PR
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: streetsidesoftware/cspell-action@v4
        with:
          inline: warning
          strict: false
          incremental_files_only: true
